openapi: 3.2.0
info:
  title: Spindl Server-to-Server Events API
  version: v1
  description: Spindl's Server-to-Server API provides access to campaign and attribution management, short (redirect) links, server-side custom event ingestion, and daily data exports for Web3 growth analytics and onchain attribution. This OpenAPI description was generated by the API Evangelist enrichment pipeline from Spindl's published API reference documentation; endpoints, methods, parameters, and example payloads are transcribed from docs.spindl.xyz.
  contact:
    name: Spindl
    email: contact@spindl.xyz
    url: https://docs.spindl.xyz/spindl/techncial/api.md
  license:
    name: Proprietary
servers:
- url: https://api.spindl.xyz/v1
  description: Spindl management API (short links, attribution management)
security:
- ApiKeyAuth: []
tags:
- name: Events
  description: Server-side custom event ingestion for attribution.
paths:
  /events/server:
    post:
      operationId: sendCustomEvents
      summary: Send custom events
      description: 'Ingest one or more custom events server-side for more detailed attribution. Send an array of event objects. Either an `address` or a `customerUserId` is required per event to identify the user. Note: this operation is served from the events host `https://spindl.link`, not the management API host.'
      tags:
      - Events
      servers:
      - url: https://spindl.link
        description: Spindl events ingestion host.
      security:
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CustomEvent'
            example:
            - type: CUSTOM
              data:
                name: ADD_TO_CART
                properties:
                  optional_data: here
              identity:
                address: '0x0000000000000000000000000000000000000000'
                customerUserId: test@gmail.com
      responses:
        '204':
          description: Events accepted (no content).
        '400':
          description: Malformed events payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    CustomEvent:
      type: object
      required:
      - type
      - data
      - identity
      properties:
        type:
          type: string
          description: Event type. Use the default value "CUSTOM".
          example: CUSTOM
        data:
          type: object
          required:
          - name
          properties:
            name:
              type: string
              description: 'Event name. Min 3 and max 100 characters; alphanumeric plus `_ : -` symbols and spaces allowed.'
              minLength: 3
              maxLength: 100
            properties:
              type: object
              description: Optional JSON object. Max size 16KB; keys and values cannot exceed 1,000 characters.
        identity:
          type: object
          description: Either `address` or `customerUserId` is required.
          properties:
            address:
              type: string
              description: A valid wallet address.
            customerUserId:
              type: string
              description: A unique user id or identifier such as an email address.
    Error:
      type: object
      properties:
        statusCode:
          type: integer
          example: 404
        message:
          type: string
          example: link not found
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Server-to-Server API key generated on the Settings page in the Spindl app (https://app.spindl.xyz/settings). Distinct from the client-side SDK key.
x-generated: '2026-07-21'
x-method: generated
x-source: https://docs.spindl.xyz/spindl/techncial/api.md
